includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    ignoreErrors:
        - '#Property MichaelRubel\\SeoManager\\Exceptions\\ShouldImplementSeoTagInterfaceException\:\:\$message has no type specified\.#'
        - '#Instanceof between \*NEVER\* and MichaelRubel\\SeoManager\\Contracts\\SeoTagContract will always evaluate to false\.#'
        - '#Unreachable statement \- code above always terminates\.#'
        - '#Method MichaelRubel\\SeoManager\\Composers\\SeoComposer\:\:getInstance\(\) is unused\.#'
        - '#Cannot call method toArray\(\) on mixed\.#'
        - '#Method MichaelRubel\\SeoManager\\Composers\\SeoComposer\:\:getMaxWildcardLevels\(\) is unused\.#'
        - '#Parameter \#1 \$class of function call expects object\|string, mixed given\.#'
        - '#Cannot call method (.*) on mixed\.#'

    level: max

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
