includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    ignoreErrors:
        - '#Property MichaelRubel\\SeoManager\\Exceptions\\ShouldImplementSeoTagInterfaceException\:\:\$message has no type specified\.#'

    level: max

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
