includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    ignoreErrors:
        - '#Property MichaelRubel\\SeoManager\\Exceptions\\ShouldImplementSeoTagInterfaceException\:\:\$message has no type specified\.#'
        - '#Instanceof between \*NEVER\* and MichaelRubel\\SeoManager\\Models\\SeoTagContract will always evaluate to false\.#'
        - '#Unreachable statement \- code above always terminates\.#'
        - '#Method MichaelRubel\\SeoManager\\Composers\\SeoComposer\:\:getInstance\(\) is unused\.#'
        - '#Call to an undefined static method MichaelRubel\\SeoManager\\Models\\SeoTagContract\:\:where\(\)\.#'

    level: max

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
